@tailwind base;
@tailwind components;
@tailwind utilities;

/* Print styles */
@media print {
  body * {
    visibility: hidden;
  }
  .print\:block * {
    visibility: visible;
  }
  .print\:block {
    position: absolute;
    left: 0;
    top: 0;
  }
}
